.btnContainer {
display: flex;
flex-direction: row;
gap: 15px;
justify-content: center;
margin-top: 25px;
margin-bottom: 25px;
 
}
.btn {
    width: 100px;
    height: 35px;
    background-color: rgb(193, 187, 187);
    border-radius: 5px;
    border: 2px solid rgb(90, 88, 88);
    color: rgb(12, 11, 11);
    font-size: 18px;
 }